/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.upper-container{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
.textbox{
  height: 40px;
  width: 300px;
}
#btn-1{
  height: 40px;
  margin: 5px;

}
#btn-2{
  height: 40px;
  /* background-color: blue; */
  color: white;
  
}
#lower-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 5px;
}

#table{
  align-items: center;
  margin: 10px;

}
#table-container{
  display: flex;
  align-items: center;
  margin: 10px;
}

.btn-grp{
  width: 80px;

}

#btn-save{
  margin: 5px;
}
/* span{
  display: flex;
  justify-content: space-around;
  gap: 20px;
} */